<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tenji.adminapi2.mapper.GrantedHolidayLogMapper">
  <resultMap id="BaseResultMap" type="com.tenji.adminapi2.model.GrantedHolidayLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="employee_id" jdbcType="BIGINT" property="employeeId" />
    <result column="status_code" jdbcType="VARCHAR" property="statusCode" />
    <result column="days" jdbcType="INTEGER" property="days" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap id="VoResultMap" type="com.tenji.adminapi2.dto.GrantedHolidayLogVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="employee_code" jdbcType="BIGINT" property="employeeCode" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="days" jdbcType="INTEGER" property="days" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, employee_id, status_code, days, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from granted_holiday_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from granted_holiday_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tenji.adminapi2.model.GrantedHolidayLog">
    insert into granted_holiday_log (id, employee_id, status_code,
      days, create_time)
    values (#{id,jdbcType=INTEGER}, #{employeeId,jdbcType=INTEGER}, #{statusCode,jdbcType=VARCHAR},
      #{days,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tenji.adminapi2.model.GrantedHolidayLog">
    insert into granted_holiday_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="statusCode != null">
        status_code,
      </if>
      <if test="days != null">
        days,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null">
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="statusCode != null">
        #{statusCode,jdbcType=VARCHAR},
      </if>
      <if test="days != null">
        #{days,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tenji.adminapi2.model.GrantedHolidayLog">
    update granted_holiday_log
    <set>
      <if test="employeeId != null">
        employee_id = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="statusCode != null">
        status_code = #{statusCode,jdbcType=VARCHAR},
      </if>
      <if test="days != null">
        days = #{days,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tenji.adminapi2.model.GrantedHolidayLog">
    update granted_holiday_log
    set employee_id = #{employeeId,jdbcType=INTEGER},
      status_code = #{statusCode,jdbcType=VARCHAR},
      days = #{days,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByEmployeeId" resultMap="VoResultMap">
    select
        ghl.id,
        e.employee_id as employee_code,
        st.value as status,
        ghl.days,
        ghl.create_time
    from granted_holiday_log ghl

    left join employee e
    on e.id = ghl.employee_id

    left join master_class st
    on st.code = ghl.status_code
    and st.type = 'PROC'

    where ghl.employee_id = #{employeeId,jdbcType=BIGINT}

    order by create_time asc
    limit #{page},#{size}
  </select>
  <select id="selectTotolsByEmployeeId" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count(1) from granted_holiday_log
    where employee_id = #{employeeId,jdbcType=BIGINT}
  </select>
</mapper>
